<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MircalePill.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>236EC05E1DB2FA4E009F16A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236EC0721DB2FA4F009F16A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236EC07D1DB2FA4F009F16A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
